.about-bg {
    background: url("https://www.nea.org/sites/default/files/styles/1920wide/public/2021-01/Free-Book.jpg?itok=A0UCklYk") no-repeat;
    background-size: cover;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.about-section h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

.about-section h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    .about-section h1 {
        font-size: 1.5rem;
    }
}

.header-about {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header-about p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.about-section .box p {
    color: var(--grayishBlue);
}

.about-section .box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
}

.about-section img {
    float: right;
}

@media (max-width: 450px) {
    .about-section .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .about-section .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}

.red {
    border-top: 3px solid var(--red);
}

.blue {
    border-top: 3px solid var(--blue);
}

.orange {
    border-top: 3px solid var(--orange);
}

.about-section h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-section .box-down {
        position: relative;
        top: 150px;
    }

    .about-section .box {
        width: 20%;

    }

    .header-about p {
        width: 30%;
    }

}