@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

.custom-container {
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100vh;
}

.admin-container {
    width: 70%;
    margin: 0 auto;
    min-height: 100vh;
}

.font-lexend {
    font-family: "Lexend", sans-serif;
}

.text-gradient {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}